body {
	font-family: 'Open Sans', sans-serif;
	background-image: url('car-bg.jpg');
	background-size: cover;
}
.logo{
	background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: 54%;
    background-position: -5px 11px;
    padding-left: 71px;
    display: flex;
    align-items: center;
    height: 80px;
}
.hidden{
	visibility:hidden;
}
.thola-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.nav-pills {
	margin: 10px 0;
}
.nav-pills>li>a:focus, .nav-pills>li>a:hover {
	background: none;
}
.pool{
    display: flex;
    background: rrgba(239,231,124, 1);
    margin-bottom: 10px;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}
.pool p, .pool h4 {
	color: #333;
}
.poolList{
	height: 400px;
	overflow: auto;
}

/********* Forms ***********/
.searchForm {
	position: relative;
	padding: 20px;
	border-radius: 5px;
	margin: auto;
	background: rgba(255, 255, 255, 0.2);
	margin-top: 20px;
}
.searchForm label{
	margin-right:10px;
	font-weight: normal;
}
.searchForm .time-wrapper{
	max-width: 106px;
}
.searchForm .submit-button {
    max-width: 70px;
}
.postForm {
	width: 300px;
}
.postForm .search-elements{
	display: block;
}
.postForm .time-wrapper{
	max-width: 100%;
}
.postForm .submit-button {
    max-width: 100%;
}
.postForm .btn{
	width: 100%;
}
.postForm .search-elements .form-group{
	margin-right: 0;
}
.close-form-buttom{
	position: absolute;
	right:0;
	margin: 10px;
	font-size: 20px;
}


.container {
	max-width: 90%;
}
.trip-panel  {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 70%;
}
.trip-panel>li{
	padding: 10px;
    margin: 3px;
    background: rgba(255,255,255,0.3);
    border-radius: 7px;
    flex: 1;
    color: #fff;
}
.trip-panel.pooler>li {
	background: rgba(255,255,255,0.3);
}
.trip-panel>li>span {
	font-size: 12px;
	color: #46afcd;
	display: flex;
	align-items: center;
}
.trip-panel>li>p {
	display: block;
	font-size: 14px;
}
.alert {
	margin: 0;
	padding: 0;
}				
.misc-panel {
	list-style: none;
}
.misc-panel .seats{
	float: right;
}
.user-name{
	text-align: right;
}
.search-elements{
	display: flex;
}
.no-results{
	margin-top: 40px;
	color: #fff;
}
.no-results h4 {
	font-size: 22px;
    font-weight: 700;
}
.no-results p{
	color: #ececec;
}
.search-elements>.form-group{
	flex: 1;
	margin-right: 10px;
}
.time-field {
	padding: 4px;
    width: 100%;
}
.time-wrapper{
	max-width: 106px;
}
.time-field{
	padding: 4px;
}

/********* Icon arrow styel ********/
.glyphicon-arrow-right:before {
    content: "\E092";
    position: absolute;
    top: 10px;
    right: -18px;
    z-index: 9;
    font-size: 19px;
    color: #555;
}


/************ Bootstrap overrides ******/
.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: #fecb00;
    border-color: #fecb00;
    color: black;
    border-radius: 0;
}
.form-control{
	border-radius: 0;
}
a, a:hover, a:focus{
	color: #fecb00;
}
