body {
	font-family: 'Open Sans', sans-serif;
}
.hidden{
	visibility:hidden;
}
.thola-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 0 20px;
    color: rgba(0, 173, 0, 1);
}
.nav-pills {
	margin: 10px 0;
}
.nav-pills>li>a:focus, .nav-pills>li>a:hover {
	background: none;
}
.poollist {
	display: flex;
	background: rgba(255, 152, 0, 0.2);
	border-left-color: orange;
	margin-bottom: 10px;
	border: 1px solid orange;
    justify-content: space-between;
    padding: 10px
}
.poollist p, .poollist h4 {
	color: #333;
}
.commentform {
	border: 1px solid orange;
	padding: 20px;
	border-radius: 5px;
	margin: auto;
	background: rgba(255, 152, 0, 0.2);
}
.commentForm label{
	margin-right:10px;
}
.container {
	max-width: 60%;
}
.commentList {
	height: 500px;
	overflow: auto;
}
.trip-panel  {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 70%;
}
.trip-panel>li{
	padding: 10px;
    margin: 3px;
    background: rgba(0,176,120,0.5);
    border-radius: 7px;
    flex: 1;
    color: #fff;
}
.trip-panel.pooler>li {
	background: rgba(255,0,0,0.5);
}
.trip-panel>li>span {
	font-size: 12px;
	color: #666;
	display: flex;
	align-items: center;
}
.trip-panel>li>p {
	display: block;
	font-size: 14px;
}
.alert {
	margin: 0;
	padding: 0;
}				
.misc-panel {
	list-style: none;
}
.misc-panel .seats{
	float: right;
}
.user-name{
	font-weight: bold;
	text-align: right;
}


/********* Icon arrow styel ********/
.glyphicon-arrow-right:before {
    content: "\E092";
    position: absolute;
    top: 10px;
    right: -18px;
    z-index: 9;
    font-size: 19px;
    color: #555;
}

