<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>React Webpack Babel App</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,600' rel='stylesheet' type='text/css'>
</head>
<script type="text/javascript">
function searchLocation(e, location){
    var code = (e.keyCode ? e.keyCode : e.which);
   if(code == 13) { //Enter keycode
     alert('enter press');
     $.ajax({
          url: '/api/comments',
          dataType: 'json',
          type: 'POST',
          data: location,
          async: false,
          cache: false,
          success: function(serverData) {
            
          }.bind(this),
          error: function(xhr, status, err) {
            console.error(this.sourceUrl, status, err.toString());
          }.bind(this)
        });
 }

}

</script>
<body>
    <div class="container">
        <div class="thola-nav">
            <div>
            <h3>Thola</h3>
            <p>Car pooling for ThoughtWorkers</p>
            </div>
            <a href="/logout">Logout</a> 
        </div>
        
        <div id="myApp"></div>
    </div>
    <script src="bundle.js" type="text/javascript"></script>
</body>

</html>