<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>React Webpack Babel App</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,600' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <div class="thola-nav">
            <div class="logo">
                <h3>Thola</h3>
            </div>
            <div>
            <a href="/myaccount"> My Account </a> |
                <a href="/post" class="">Create Pool</a> |
                <a href="/logout">Logout</a> 

            </div>
        </div>
        
        <div id="myApp"></div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCVHdt2JaCNlcg7Rt5SybQIjmSN7P4deU&libraries=places&signed_in=true"></script>
    <script src="bundle.js" type="text/javascript"></script>
</body>

</html>